@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins/Poppins-Regular.otf');
}

@font-face {
    font-family: 'poppins-semi-bold';
    src: url('../fonts/poppins/Poppins-SemiBold.otf');
}

@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/poppins/Poppins-Bold.otf');
}

body {
    overflow-x: hidden;
    font-family: 'poppins';
}

p {
    line-height: 1.9rem;
}

h1, h2, h3, h4 {
    font-family: 'poppins-bold';
}

h2 {
    font-size: 2.5rem;
}

.label-web {
    color: #c71d1d;
    font-size: 1.3rem;
    font-weight: bold;
}

.h-100 {
    height: 100%;
}

.h-100vh {
    height: 100vh;
}

.bg-grey {
    background: #eef8f2;
}

.bg-dotted {
    background-image: url('../img/dotted.png');
    background-repeat: no-repeat;
    background-position: center;
}

.bg-ornament {
    background-image: url('../img/bg-ornament.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-red {
    color: #c71d1d;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*************************************
 * Header Style
 *************************************/
 header {
     height: 110vh;
     position: relative;
 }

header .header-title {
    line-height: 4.2rem;
    font-family: 'poppins-bold';
}

.header-right {
    height: 100%;
}

.header-right .img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

/*************************************
 * Available Style
 *************************************/
#available .logo {
    max-width: 100%;
}

/*************************************
 * About Style
 *************************************/
#about .img-border {
    border-radius: 50% 10% 10% 10%;
}

.card-special {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    border-radius: 12px;
}

.card-special span {
    line-height: 1.7rem;
    color: #726a84;
    font-size: 0.9rem;
}

/*************************************
 * Resekker Style
 *************************************/
#reseller {
    background-color: #dc2c2b;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 64px 0px 0px 0px;
    height: 110vh;
}

#reseller h2 {
    font-size: 2.3rem;
}

.reseller-image {
    bottom: 0;
    left: 0;
    right: 0;
}

.reseller-image img {
    display: block;
    margin: auto;
}

/*************************************
 * Button Style
 *************************************/

.btn-rounded {
    border-radius: 50px;
    padding: 16px 39px;
    color: #fff;
    font-weight: bold;
}

.btn-grad-red {
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 71%);
}

.btn-grad-red:hover {
    background-position: right center;
}
