body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	overflow-x: hidden;
}

section {
	padding: 30px 0;
	width: 100%;
}

.grey-header {
	background: #e2e2e2;
}

.image {
	width: 100%;
}

.image-circle {
	width: 250px;
	height: 250px;
}

.image-fit {
	object-fit: cover;
	object-position: center;
}

.image-300 {
	width: 100%;
	height: 300px;
}

.image-600 {
	width: 100%;
	height: 609px;
}

.btn-outline-white {
	color: #fff;
	background-color: transparent;
	background-image: none;
	border-color: #fff;
}

.btn-outline-white:hover {
	background: #fff;
	color: #000;
}

.btn-outline-primary {
	color: #043f70 !important;
	border: 1px solid #043f70 !important;
}

.btn-outline-primary:hover {
	background: #043f70 !important;
	color: #fff !important;
}

.section-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.border-blue {
	border-bottom: 3px solid #043f70;
}

.width-full {
	width: 100%;
}

.rounded {
	border-radius: 10px !important;
}

/****
** Custom Color
**/

.blue {
	color: #043f70;
}

.white {
	color: #ffffff;
}

.bg-blue {
	background: #043f70;
	color: #fff;
}

.bg-grey {
	background: #e2e2e2;
}

.bg-light-grey {
	background: #f6f6f6;
}

/****
** Header Class
**/
.header{
 max-width: 100%;
}

/****
** Custom Navbar
**/

.navbar {
	padding: .9rem 4rem !important;
}

.navbar-transparent {
	background: transparent;
}

.navbar-absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.navbar-image {
	width: 7%;
}

.navbar-image-wedding {
	width: 5%;
}

.nav-item {
	margin: 0 20px;
}

.navbar-light {
	    box-shadow: 0px 2px 5px 0px;
}

.navbar-light .navbar-nav .nav-link {
	color: #043f70;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	color: rgb(4, 63, 112);
	font-weight: bold;
}

.box-overlay {
    position: absolute;
    bottom: 0;
    color: white;
    text-align: left;
    padding: 30px;
    width: 95%;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0.8));
}

.bg-custom{
	background-color: #ffffffe8!important;
}

.nav-img, .nav-img-mini {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-img {
	max-width: 170px;
}

.nav-img-mini {
    max-width: 60px;
}

.nav-bb {
	border-bottom: 2px solid transparent;
}

.nav-bb:hover {
	border-bottom: 2px solid #fff;
}

.nav-item .nav-active {
	border-bottom: 2px solid #fff;
}

/****
** Music Categories
**/

.header-image {
	width: 100%;
}

/****
** Wedding Categories
**/

.wedding-header {
	width: 100%;
	height: 100vh;
}

.wedding-header-image {
	width: 100%;
	height: 100%;
}

.wedding-header-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
}

.wedding-header-overlay-description {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
	width: 100%;
}

.wedding-slide-work {
	width: 100%;
	padding: 0 300px;
}

.wedding-slide-work-image {
	width: 100%;
	height: 450px;
	position: relative;
	margin: auto;
}

.wedding-image {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.wedding-image-box img {
	width: 100%;
	height: 200px;
}

.wedding-image-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 4px;
}

.wedding-image-col {
	-ms-flex: 33.1%; /* IE10 */
	flex: 33.1%;
	max-width: 33.1%;
	padding: 0 4px;
}

.wedding-image-col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/****
** Film Custom
**/

.film-header {
	width: 100%;
	height: 100vh;
}

.film-header-image {
	width: 100%;
	height: 100%;
}

.film-header-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
}

.film-header-overlay-description {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
	width: 100%;
}

.film-image {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.film-image-box {
	margin: 10px;
}

.film-image-box img {
	width: 100%;
	height: 200px;
}

.film-image-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 4px;
}

.image-horizontal {
	width: 100%;
	height: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

/****
** Section Image 3
**/
.act{
	max-width: 50%;
	width: auto;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.main-page{
	margin: 10px auto;
}

.home{
	padding-right: 15px;
    padding-left: 15px;
	margin-bottom: 40px;
}

.home a{

	margin:20px;
}

.home:hover{
	box-shadow: 2px 2px 2px 1px #92a0ab;
    border-radius: 10px;
}


/****
** Footer Class
**/

footer {
	padding: 10px;
}

footer.bg-blue a:hover {
	color: #fff;
}

.nav-foot{
	display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer .nav-foot img{
	width: auto;
    height: 20px;
    margin: 15px;
}


footer a {
	color: #ffffff;
}

/* == Gallery IG == */
.wedding-image {
    display: flex;
}
.wedding-image-box img {
    max-width: 100%;

}

/* == Video == */
span.page-prev {
    width: 19%;
    float: left;
    /* width: 120px; */
}
span.page-next {
        text-align: right;
    float: right;
    width: 15%;
    margin: 0 10px;
}
div.page-number {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 61%;
    margin: auto;
}

div.page-number a{
	 margin: 0 5px;
    font-size: 4vh;
    color: #eee;
}

div.page-number a:hover{
	color: #03448a;
    text-decoration: none;
}

.page a{
	color: #03448a;
}

section#socmed{
	padding: 0 !important;
}
.margin10{
	padding: 40px 100px;
}
.footer-video a{
 font-size: 3vh;
    color: #4e4c4c;
}
.footer-video nav, .footer-video .navbar{
padding: 0 !important;
}
.bg-gray {
    background: #e6e4e4;;

}
.futured{
	margin-bottom: 10px;
}
.minion{
	display: none;
	background: #ffffff!important;
    color: #989898;
    font-weight: 400;
    height: auto;
    line-height: normal;
    padding: 20px 20px 20px 15px;
    position: absolute;
    left: auto;
    bottom: 0;
    border-radius: 0 10px 0 0;
    width: auto;
}

.minion h2.judul{
	color: #1e5e7e;
    font-size: 7vh;
}

.icon-vid{
	display: none;
   font-size: 7vh;
   left: 46.555%;
   position: absolute;
   top: 50%;
   color: #1e5e7e;
}

.ico-md{
	top: 35% !important;
}

.img-futured{
	margin-bottom: 15px;
}
.img-futured:hover .minion, .img-futured:hover .icon-vid {
	display: block;
}

.img-futured:hover img {
    opacity: 0.5;
  	filter: alpha(opacity=50); /* For IE8 and earlier */
}

.img-futured img{
	border-radius: 10px;
    max-width: 98%;
    height: auto;
}

.logo-header img.left{
	position: absolute;
    width: 20vh;
    z-index: 99;
    margin: 10px 40px;
}
.logo-header img.right{
	right: 0;
    position: absolute;
    width: 6vh;
    z-index: 99;
    margin: 40px 40px;
}

.section-slider {
  width: 100%;
  height: 100vh;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  overflow: hidden;
}
.slide-image {
  position: absolute;
  top: -200px;
  left: -200px;
  width: calc(100% + 400px);
  height: calc(100% + 400px);
  background-position: 50% 50%;
  background-size: cover;
}
.slide-title {
  	left: 90px;
    font-size: 3rem;
    line-height: 1;
    max-width: 50%;
    word-break: break-word;
    color: #FFF;
    z-index: 100;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    position: absolute;
}
.slide-subtitle{
	left: 90px;
    margin: 35px 0;
    font-size: 2rem;
    line-height: 1;
    max-width: 50%;
    word-break: break-word;
    color: #FFF;
    z-index: 100;
    font-weight: normal;
    position: absolute;
}
@media (min-width: 45em) {
  .slide-title {
    font-size: 4vw;
    max-width: none;
  }
  .slide-subtitle {
    font-size: 2vw;
    max-width: none;
  }
}
.slide-title span {
  white-space: pre;
  display: inline-block;
  opacity: 0;
}

.slideshow {
  position: relative;
}
.slideshow-pagination {
  position: absolute;
  bottom: 5rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: .3s opacity;
  z-index: 10;
}
.slideshow-pagination-item {
  display: none;
  align-items: center;
}
.slideshow-pagination-item.active {
  display: block !important;
}
.slideshow-pagination-item .pagination-number {
  opacity: 0.5;
}
.slideshow-pagination-item:hover, .slideshow-pagination-item:focus {
  cursor: pointer;
}
.slideshow-pagination-item:last-of-type .pagination-separator {
  width: 0;
}
.slideshow-pagination-item.active .pagination-number {
  opacity: 1;
}
.slideshow-pagination-item.active .pagination-separator {
  width: 10vw;
}
.slideshow-navigation-button {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5rem;
  z-index: 1000;
  transition: all .3s ease;
  color: #FFF;
}
.slideshow-navigation-button:hover, .slideshow-navigation-button:focus {
  cursor: pointer;
}
.slideshow-navigation-button.prev {
  left: 0;
}
.slideshow-navigation-button.next {
  right: 0;
}

.max-pagination {
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: .3s opacity;
  z-index: 10;
      font-size: 1.8rem;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    padding: 0 0.5rem;
}

.pagination-number {
  font-size: 1.8rem;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  padding: 0 0.5rem;
}

.pagination-separator {
  display: none;
  position: relative;
  width: 40px;
  height: 2px;
  background: rgba(255, 255, 255, 0.25);
  transition: all .3s ease;
}
@media (min-width: 45em) {
  .pagination-separator {
    display: none;
  }
}
.pagination-separator-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  transform-origin: 0 0;
}
